<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Register</title>
    <link rel="stylesheet" href="static/css.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer nonce="Mjc5NDk4ODM2Niw0MTYyMjQ5Njc1"></script>
</head>
<body>

<div class="container">
    <div class="form-box" id="register">
        <h2>Register</h2>
        <form id="registerForm">
            <input type="text" id="regUsername" placeholder="Username" required />
            <input type="email" id="regEmail" placeholder="Email" required />
            <input type="password" id="regPassword" placeholder="Password" required />
            <div class="g-recaptcha"
              data-sitekey="6LeTq9crAAAAAIWCY7bxqcLayd5bBg9zqig27nwN"
              name="g-recaptcha-response"></div>

            <label for="terms" class="checkbox-label">
                <input id="terms" type="checkbox" required />
                I agree to the terms.
            </label>

            <button type="submit" id="registerBtn">Register</button>
        </form>
        <p id="regMessage"></p>
    </div>

    <div class="login-box" id="login">
        <h2>Login</h2>
        <form id="loginForm">
            <input type="email" id="loginEmail" placeholder="Email" required />
            <input type="password" id="loginPassword" placeholder="Password" required />
            <button type="submit">Login</button>
        </form>
        <p id="loginMessage"></p>
    </div>
</div>

<a class="terms-link" href="https://fwaeh.cloud/terms" target="_blank">Read our terms here</a>

<script src="https://bitearthcoin.com/static/js/APIregister.js" nonce="Mjc5NDk4ODM2Niw0MTYyMjQ5Njc1"></script>
</body>
</html>